<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/title"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mrtaskmaster_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <activity
            android:name=".updateddata"
            android:exported="true">

        </activity>
        <activity
            android:name=".entriesofprovider"
            android:exported="true">

        </activity>
        <activity
            android:name=".providerresendotp"
            android:exported="true" >

        </activity>
        <activity
            android:name=".providersignup"
            android:exported="true">

        </activity>

        <activity
            android:name=".firstpage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Bookingpage"
            android:exported="true">

        </activity>
        <activity
            android:name=".Signupactivity"
            android:exported="true" />
        <activity
            android:name=".Signinactivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".allserviceproviders"
            android:exported="true">

        </activity>
        <activity
            android:name=".jobdescription"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>